{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
    <h1>About Us</h1>
    <p>Welcome to EduPrompt. The purpose of this website is to create a learning space for students and teachers for using different files as input and being able to adapt the material using AI, or create new materials according to the user's preference. The main focus is to adapt materials for different age groups. It can either make it easier to understand, or give a deeper understanding to the topic.</p>
    <br>
    <h2>Meet The Founders:</h2>

    <img src="/year-long-project-team-17/app/website/images/Founder1.jpeg" alt="Gerard">
    <img src="/year-long-project-team-17/app/website/images/Founder2.jpg" alt="Charvie">
    <img src="/year-long-project-team-17/app/website/images/Founder3.jpg" alt="Harsh">
    <img src="/year-long-project-team-17/app/website/images/Founder4.jpg" alt="Davit">

{% else %}


You are not allowed here!


{% endif %}


{% endblock %}

