<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edu Prompt</title>
    <link href="https://bootswatch.com/5/morph/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="/year-long-project-team-17/app/website/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/year-long-project-team-17/app/website/favicon_io/site.webmanifest">
  </head>
  <body> 
    {% include 'navbar.html' %}
    <div class="container">
    </br>
        {% if messages %}

          {% for message in messages %}
          
          {% if message.tags == 'info' %}
          <!-- For info messages -->
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}

          {% if message.tags == 'success' %}
          <!-- For success messages -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}

          {% if message.tags == 'error' %}
          <!-- For error messages -->
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {% endif %}

          {% endfor %}
        {% endif %}


        {% block content %}
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>