{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Animation Example</title>
    <style>

    body, html {
        font-family: 'Montserrat', sans-serif;
        background-color: #1e1e2f;
        color: white;
    }
    .container {
        margin-top: 50px;
    }
    h1 {
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
    }
    form {
        background: rgba(255, 255, 255, 0.05);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    .info-box {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Slight white border for depth */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners */
    color: white; /* Text color */
}

.readable-header {
    color: #ffffff; /*You can use white or any light shade that is readable on a dark background*/
    font-weight: bold; /*Makes the font bolder, clearer and more readable*/
}

/* Alternatively, if you want to use a specific color for contrast */
.light-blue-header {
    color: #add8e6; /* Light blue color for contrast */
    font-weight: bold;
}

.yellow-header {
    color: #ffd700; /* Yellow color for contrast */
    font-weight: bold;
}


        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .animated-text {
            animation: fadeIn 2s ease-in-out;
        }

        @keyframes slideIn {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0);
            }
        }

        .quote1 {
            animation: slideIn 1.4s ease-out;
        }
        .quote2 {
            animation: slideIn 1.8s ease-out;
        }
        .quote3 {
            animation: slideIn 2.1s ease-out;
        }

        .custom-button {
        color: #fff;
        background: linear-gradient(to right, #3498db 0%, #800080 100%);
        background-size: 200% 100%;
        transition: background-position 0.3s ease;
    }

    .custom-button:hover,
    .custom-button:focus {
        background-position: -100% 0;
    }

    </style>

</head>
<body>

<br>
<br>

    <div class="container col-md-5 offset-md-3.5">
        <h1 class="animated-text ">   Welcome to EduPrompt</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="container2">
        <div class="row">
          <div class="col-md-4">
            <figure class="quote1 info-box">
              <blockquote>
                <p class="mb-0">The focus of education should not be on suppressive information but on kinding the thirst for knowledge.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Sadhguru
              </figcaption>
            </figure>
          </div>
      
          <div class="col-md-4">
            <figure class="quote2 info-box text-center">
              <blockquote>
                <p class="mb-0">Education is not the accumulation of knowledge, but the ability to find it.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Louis Nizer
              </figcaption>
            </figure>
          </div>
      
          <div class="col-md-4">
            <figure class="quote3 info-box text-end">
              <blockquote>
                <p class="mb-0">An integral part of education is cultivating the right attitude. Proper attitude at the right time and place determines your actions and behaviors.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Ravi Shankar
              </figcaption>
            </figure>
          </div>
        </div>
      </div>      

</body>
</html>

<br>
<br>
<br>

<h1 class="container col-md-7 offset-md-0">About Us</h1>

<section>
    <aside>
        <p class="container col-md-7 offset-md-0">Welcome to <b>EduPrompt!</b> <br>The purpose of this website is to create a learning space for students and teachers for using different files as input and being able to adapt the material using AI, or create new materials according to the user's preference. The main focus is to adapt materials for different age groups. It can either make it easier to understand, or give a deeper understanding to the topic.</p>
        <br>
        
        <button type="button" class="btn btn-danger col-md-0 offset-md-0 custom-button" >Contact</button>

    </aside>
</section>

<br>
<br>


<div class="container col-md-7 offset-md-0">
    {% load static %}
    <img onload="loaded(this, 'success')" onerror="myFunction()" src="{% static '/year-long-project-team-17/app/website/images/Techguy.png' %}" alt="Tech">

<p id="demo"></p>

<script>
function myFunction() {
    document.querySelector('img').onerror = function() {
    console.error('Error loading image:', this.src);
  };
}
</script>

</div>

<div class="team-details container col-md-6 offset-md-3 text-center">
    <div class="container ">
        <h1 >Meet the Team</h1>
    </div>
    {% load static %}
    <img src="{% static 'year-long-project-team-17\app\website\templates\images\Founder1.jpeg' %}" alt="Gerard">
    <img src="{% static 'year-long-project-team-17\app\website\templates\images\Founder2.jpg' %}" alt="Charvie">
    <img src="{% static 'year-long-project-team-17\app\website\templates\images\Founder3.jpg' %}" alt="Harsh">
    <img src="{% static 'year-long-project-team-17\app\website\templates\images\Founder4.jpg' %}" alt="Davit">
</div>

<br>
<br>

<br>
<br>

<div class="container3">

    <div>
        <h2 class="col-md-6 offset-md-3 text-center readable-header">Technologies we're excited about</h2>
        <h4 class="col-md-6 offset-md-3 text-center readable-header">Opportunities to access deep technical content</h4>
    </div>

</div>
<br>
<br>

<section class="container info-box">
    <div class="row">
        <div class="col-md-7 offset-md-0">
            <h2 class="container  light-blue-header">Detect Plagiarism</h2>
            <p class="container">Utilizing advanced algorithms and text-matching techniques, our plagiarism detector helps teachers identify intellectual property theft. By efficiently scanning and comparing texts, the plagiarism detection tool plays a crucial role in upholding academic integrity in schools and universities and maintaining ethical standards.</p>
            <br>
            <button href="C:/Users/yadav/latestcode/year-long-project-team-17/app/website/templates/plagiarism_detection.html" type="button" class="btn btn-danger col-md-0 offset-md-0 custom-button" >Try It</button>
        </div>

        <div class="col-md-5 offset-md-0">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/detect_plagiarism.png' %}" alt="plagiarism" class="img-fluid">
        </div>
    </div>
</section>

<br>
<br>

<div class="container info-box">
    <div class="row">
        <div class="col-md-7 offset-md-5 text-md-end">
            <h2 class="container  light-blue-header">Generate Presentation</h2>
            <p>The AI presentation generator is a tool designed to automate the process of creating compelling and coherent presentations. Leveraging natural language processing (NLP) and machine learning, the generator analyzes user prompts to generate relevant content, structure, and visuals for a presentation. This technology not only streamlines the creation process but also ensures consistency and professionalism in the output, saving time for users while maintaining the effectiveness of the presented information.</p>
            <br>
            <button type="button" class="btn btn-danger col-md-0 offset-md-5 custom-button">Try It</button>
        </div>

        <div class="col-md-5 offset-md-0 text-md-end">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/generate_presentation.png' %}" alt="presentation" class="img-fluid">
        </div>
    </div>
</div>


<div class="container info-box">
    <div class="row">
        <div class="col-md-7 offset-md-0">
            <h2 class="container  light-blue-header">Generate Content</h2>
            <p>The AI exercise generator is a tool similar to the presentation generator as it automates the process of creating problem-solving content for students. It leverages NLP and machine learning to create a variety of content based on user inputs.</p>
            <br>
            <button type="button" class="btn btn-danger col-md-0 offset-md-0 custom-button">Try It</button>
        </div>

        <div class="col-md-5 offset-md-0">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/generate_content.png' %}" alt="content" class="img-fluid">
        </div>
    </div>
</div>



<div class="container info-box">
    <div class="row">
        <div class="col-md-7 offset-md-5 text-md-end">
            <h2 class="container  light-blue-header">Generate Summary</h2>
            <p>The summary generator is a software tool embedded in our website that is designed to condense lengthy pieces of text or content into concise and coherent summaries. The user inputs chunks of texts into the textbook. Using NLP and ML algorithms, the generator analyzes the input texts, identifies key themes and extracts important information. This technology is useful for students and teachers to summarize articles, research papers, facilitating efficient information consumption and comprehension.</p>
            <br>
            <button type="button" class="btn btn-danger col-md-0 offset-md-5 custom-button">Try It</button>
        </div>

        <div class="col-md-5 offset-md-0 text-md-end">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/generate_summary.png' %}" alt="summary" class="img-fluid">
        </div>
    </div>
</div>


<br>

<div class="container info-box">
    <div class="row">
        <div class="col-md-7 offset-md-0">
            <h2 class="container  light-blue-header">Virtual Assistant</h2>
            <p>The virtual assistant feature is designed to provide support to users through NLP and machine learning capabilities. Virtual assistant is always there to help you and answer any questions you have regarding our website. It does this by comprehending and responding to typed commands. It plays a pivotal role in enhancing user convenience, efficiency, and accessibility across diverse technological ecosystems.</p>
            <br>
            <button type="button" class="btn btn-danger col-md-0 offset-md-0 custom-button">Try It</button>
        </div>

        <div class="col-md-5 offset-md-0">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/virtual_assistant.png' %}" alt="assistant" class="img-fluid">
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div>
        <h2 class="col-md-6 offset-md-3 text-center">Testimonies</h2>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: #8A7511">Kushal, Student</div>
          <div class="card-body" style="background-color: #B58900;">
            <h4 class="card-title">Testimony 1</h4>
            <p class="card-text">“Accessing this website was a game-changer for me! The engaging messaging feature and supportive community helped me excel in my studies. The hands-on exercises and presentation generation prepared me for actual problems in the classroom.”</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: #647D81;">Tarra, Student</div>
          <div class="card-body" style="background-color: #839496;">
            <h4 class="card-title">Testimony 2</h4>
            <p class="card-text">“I can't express how grateful I am for the virtual assistant and resources provided by this program. The learning platform is not only dynamic but also fosters creativity. The networking opportunities opened doors to amazing connections. Highly recommended”</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: #218783;">Saranjit, Student</div>
          <div class="card-body" style="background-color: #2AA198;">
            <h4 class="card-title">Testimony 3</h4>
            <p class="card-text">“Enrolling in this program was the best decision I made for my education. The flexible features allowed me to engage in my studies seamlessly. I feel more empowered and equipped for success, and I’m excited about the possibilities ahead!”</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: #A03672;">Adam, Educator</div>
          <div class="card-body" style="background-color: #D33682;">
            <h4 class="card-title">Testimony 4</h4>
            <p class="card-text">"The content generation tools not only inspire creativity but also facilitate collaborative learning. What truly sets this platform apart is its robust plagiarism detection, ensuring academic integrity. It's a game-changer for both students and educators."</p>
          </div>
        </div>
      </div>
    </div>
  </div>  

<br>
<br>

<section class="mb-4">

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <h3 class="h1-responsive font-weight-bold text-md-right my-4">Contact us</h3>
            <p class="text-right w-responsive mx-auto mb-5">Do you have any questions? Our team will come back to you within
                a matter of hours to help you.</p>

            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>

            </form>

            <br>

            <div class="text-md-right">
                <button onclick="document.getElementById('contact-form').submit();" type="button" class="btn btn-danger col-md-0 offset-md-0 custom-button">Send</button>
            </div>
            <div class="status"></div>
        </div>
        
        <br>

        <div class="col-md-3">
            {% load static %}
            <img src="{% static '/year-long-project-team-17/app/website/templates/images/Contact-card.png' %}" alt="Contact" style="width: 100%; max-width: 200px; margin-left: auto;">
        </div>
    </div>

</section>


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
</br>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="Username" required>
        </div>
    </br>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
    </br>
        <button type="submit" style="margin-right: 7rem;" class="btn btn-outline-primary">Login</button> 
        <a href="reset_password" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Forgot password?</a>
</form>
</div>



{% endif %}

{% endblock %}
