{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Chats</title>
<style>
    .nav-link.name{
        margin: 5px;
        color:#3a2e79;
    }
    .close {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        padding: 12px 16px;
        transform: translate(0%, -50%);
    }   
    .close:hover {background: #d39494;}
    .card.mb-3:hover{
        background-color: #c7d4e7;
    }
    img{
        position: absolute;
        left:0;
        top:55px;
    }
    .parent-chat-container {
    display: flex;
    align-items: center; 
    padding: 10px;
    }

</style>

</head>

<body>
    <h2>Open Chats</h2>

        {% load static %}
        <img src="{% static 'navpic.png' %}" alt="navpic" width="1263" height="970" >

        {% for chat in chats %}
            <div class="card mb-3" style="max-width: 54;top:400px" >
                {% if chat.receiver.id == chat.sender.id %}

                <span class="close">&times;</span>


                <a class="nav-link name" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
                {% else %}

                {% if chat.sender.id == user.id %}

                <a class="nav-link name" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>

                    {% else %}

                    <a class="nav-link name" href="/chat/{{ chat.sender.username }}"><h3>{{ chat.sender.username }}</h3>
                    {% endif %}
                    {% endif %}
                    <div class="parent-chat-container">
                        <div class="circular-container"></div>
                        <div class="chat-text">
                            <p>Open Chat</p>
                            {% if chat.sender.id == user.id %}
                        </div>
                    </div>
      

                </a>
                {% else %}
                <p>{{chat.sender.username}} : {{ chat.content }}</p></a>
                {% endif %}
            </div>

            <div class="card mb-3" style="max-width: 54;top:400px;padding: 5px;" >
                {% if chat.receiver.id == chat.sender.id %}

                <span class="close">&times;</span>

                <a class="nav-link name" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
                {% else %}

                {% if chat.sender.id == user.id %}

                <a class="nav-link name" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>

                    {% else %}

                    <a class="nav-link name" href="/chat/{{ chat.sender.username }}"><h3>{{ chat.sender.username }}</h3>

                    {% endif %}
                    {% endif %}
                    <div class="parent-chat-container">
                        <!-- /* Profile Picture goes here */ -->
                        <div class="circular-container"></div>
                        <div class="chat-text">
                            <p>Open Chat</p>
                            {% if chat.sender.id == user.id %}
                        </div>
                    </div>

                {% else %}
                <p>{{chat.sender.username}} : {{ chat.content }}</p></a>
                {% endif %}
            </div>


        {% endfor %}

    
<script>
    var closebtns = document.getElementsByClassName("close");
    var i;
    
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
      });
    }
</script>








   
</body>
</html>

{% endblock %}