{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Chats</title>

    <style>
    .custom-button {
        color: #fff;
        background: linear-gradient(to right, #3498db 0%, #800080 100%);
        background-size: 200% 100%;
        transition: background-position 0.3s ease;
    }

    .custom-button:hover,
    .custom-button:focus {
        background-position: -100% 0;
    }

    </style>

</head>
<body>
    <h2>Open Chats</h2>

        {% for chat in chats %}
            <div class="card mb-3" style="max-width: 54" >
                {% if chat.receiver.id == chat.sender.id %}
            <a class="nav-link" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
             {% else %}
             {% if chat.sender.id == user.id %}
             <a class="nav-link" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
                {% else %}
                <a class="nav-link" href="/chat/{{ chat.sender.username }}"><h3>{{ chat.sender.username }}</h3>
                {% endif %}
                {% endif %}
                {% if chat.sender.id == user.id %}
            <p>You: {{ chat.content }}</p></a>
            {% else %}
            <p>{{chat.sender.username}} : {{ chat.content }}</p></a>
            {% endif %}
            </div>
            

        {% endfor %}
        <div>

            <a href="{% url 'new_chats' %}" class="btn btn-danger col-md-0 offset-md-0 custom-button" >New Chat</a>

          </div>
   
</body>
</html>

{% endblock %}