{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Chats</title>
</head>
<body>
    <h2>Open Chats</h2>

        {% for chat in chats %}
            <div class="card mb-3" style="max-width: 54" >
                {% if chat.receiver.id == chat.sender.id %}
            <a class="nav-link" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
             {% else %}
             {% if chat.sender.id == user.id %}
             <a class="nav-link" href="/chat/{{ chat.receiver.username }}"><h3>{{ chat.receiver.username }}</h3>
                {% else %}
                <a class="nav-link" href="/chat/{{ chat.sender.username }}"><h3>{{ chat.sender.username }}</h3>
                {% endif %}
                {% endif %}
                {% if chat.sender.id == user.id %}
            <p>You: {{ chat.content }}</p></a>
            {% else %}
            <p>{{chat.sender.username}} : {{ chat.content }}</p></a>
            {% endif %}
            </div>

        {% endfor %}
   
</body>
</html>

{% endblock %}