{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<div id="some-contact" class="offset-md-3 col-md-6">
    <h3>Password reset</h3>

        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form id="some-contact" method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            {% render_field form.email class="form-control" placeholder="Email" %}
            <button type="submit" class="btn btn-outline-primary mt-3" name="Send email">Reset my password</button> 
        </form>
</div>
{% endblock %}