{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<div class="offset-md-3 col-md-6">
{% if validlink %}
   
<h1>Enter new password</h1>
    
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </br>
    <form method="post" class="password-reset">

        {% csrf_token %}
        </br>
        {{ form.new_password1.errors }}
        {% render_field form.new_password1 class="form-control mb-3" placeholder="New password" %}
        {{ form.new_password2.errors }}
        {% render_field form.new_password2 class="form-control mt-1" placeholder="Confirm password" %}
        </br>
        <button type="submit"  name="Update Password" class="btn btn-outline-primary mt-3">Change password</button>
        </br></br></br>
    </form>
{% else %}
<h1>Password reset unsuccessful</h1>
    </br>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
</div>
{% endif %}

<style>
	body {
	font-family: 'Montserrat', sans-serif;
	background-color: #1e1e2f;
	color: white;
  }
  .container {
	margin-top: 50px;
  }
  h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
  }
  form {
	background: rgba(255, 255, 255, 0.05);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .form-check-label {
	color: #fff;
  }
  .btn {
	transition: all 0.4s;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
  }
  .btn:hover {
	transform: translateY(-3px);
  }
  
  .btn:active {
	transform: translateY(2px);
  }
	  
  
</style>

{% endblock %}