{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
 
<div class="offset-md-3 col-md-6">
{% if validlink %}
   
<h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">

        {% csrf_token %}
        {{ form.new_password1.errors }}
        {% render_field form.new_password1 class="form-control mb-3" placeholder="New password" %}
        {{ form.new_password2.errors }}
        {% render_field form.new_password2 class="form-control mt-1" placeholder="Confirm password" %}
        <button type="submit"  name="Update Password" class="btn btn-outline-primary mt-3">Change password</button>

    </form>
{% else %}
<h3>Password reset unsuccessful</h3>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
</div>

{% endif %}
{% endblock %}