{% extends "base.html" %}

{% block content %}
<div class="col-md-9 offset-md-2">
    <h1>Please Upload Files To Test For Plagiarism</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="uploadFileField" style="display: block;">
            <label for="file">Upload File:</label>
            <input type="file" id="file" name="file" multiple>
        </div>
        <br>
        <button type="submit" name="detect_plagiarism">Detect Plagiarism</button>
    </form>

    {% if plagiarised_files %}
        <br>
        <h1> The list of plagiarised files is the following: </h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">File 1</th>
          <th scope="col">File 2</th>
          <th scope="col">Similarity Score</th>
        </tr>
      </thead>
        <tbody>
        <br>

        {% for plagiarised_pair in plagiarised_files%}
            <tr>
                <td>{{ plagiarised_pair.0}} </td>
                <td>{{plagiarised_pair.1}} </td>
                <td>{{plagiarised_pair.2|floatformat:"4"}}%</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

        {% endif %}
    {%if all_similarities%}
    {% if not plagiarised_files %}
        <br>
        <h1>No Plagiarism Was Detected </h1>
        <br>
    {% endif %}
    <br>
        <h5>Please see below the full list of similarity percentages between files</h5>
        <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">File 1</th>
          <th scope="col">File 2</th>
          <th scope="col">Similarity Score</th>
        </tr>
      </thead>
        <tbody>
        <br>

        {% for sim_score in all_similarities %}
            <tr>
                <td>{{ sim_score.0}} </td>
                <td>{{sim_score.1}} </td>
            <td>{{ sim_score.2|floatformat:"4"}}%</td>
            </tr>
        </tbody>
            {% endfor %}
        </table>

        {% endif %}

</div>

{% endblock %}
