{% extends "base.html" %}
{% block content %}
<div class="col-md-6 offset-md-2">
    <h1>Create a Presentation</h1>

    <form method="POST" enctype="multipart/form-data" id="presentationForm">
        {% csrf_token %}
        <div class="form-check">
            <input type="radio" class="form-check-input" id="uploadFileRadio" name="input_option" value="upload">
            <label class="form-check-label" for="uploadFileRadio">Upload File</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="writeTextRadio" name="input_option" value="write" checked>
            <label class="form-check-label" for="writeTextRadio">Write Text</label>
        </div>
        <br>
        <div id="uploadFileField" style="display: none;">
            <label for="file">Upload File: <span class="question-mark-upload" onclick="showInstructionsUploadFile()">?</span> </label>
            <div class="cloud-tooltip-2" id="textInstructionsUploadFile">
                <p>Please upload a file below. Presentation will be generated based on the contents of that file. The allowable file formats are .docx, .txt and .pdf.</p>
            </div>
            <br>
            <input type="file" id="file" name="file">
        </div>
        <div id="writeTextField">
            <label for="input_text">Enter Text <span class="question-mark" onclick="showInstructions()">?</span></label>
            <div class="cloud-tooltip" id="textInstructions">
                <p>Please write below what you would like your presentation to be about. For example, you can write "I want a presentation on multivariable calculus"</p>
            </div>
            <textarea id="input_text" name="input_text" rows="20" cols="100" style="border-radius: 6px; padding: 10px;"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary" name="generate_presentation">Generate Presentation</button>
    </form>

    {% if generated_presentation_url %}
    <div>
        <br/>
        <label>Generated Presentation:</label>
        <a href="{{ generated_presentation_url }}" download="generated_presentation.pptx">Download Presentation</a>
    </div>
    {% endif %}
</div>

<style>
    .question-mark {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #3498db; /* You can change the color as needed */
        color: #fff; /* Text color inside the circle */
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px; /* Adjust as needed for spacing */
    }

    .question-mark-upload {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #3498db; /* You can change the color as needed */
        color: #fff; /* Text color inside the circle */
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px; /* Adjust as needed for spacing */
    }


    .cloud-tooltip {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1;
        transform: translate(36%, -100%);

        max-width: 300px;
    }

    .cloud-tooltip-2 {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1;
        transform: translate(40%, -100%);

        max-width: 300px;
    }

    .question-mark:hover {
        background-color: #800080; /* Change the color on hover to desired color */
    }

    .question-mark-upload:hover {
        background-color: #800080; /* Change the color on hover to desired color */
    }

    .question-mark:hover + .cloud-tooltip {
        display: block;
    }

    .label-with-tooltip {
        position: relative;
        display: inline-block;
    }

    .btn-outline-primary {
        background: linear-gradient(to right, #3498db 0%, #800080 100%);
        background-size: 200% 100%;
        transition: background-position 0.4s ease;
    }

    .btn-outline-primary:hover,
    .btn-outline-primary:focus {
        background-position: -100% 0;
    }
</style>

<script>
document.getElementById('presentationForm').onsubmit = function(event) {
    event.preventDefault(); // Stop the form from causing a page refresh
    var formData = new FormData(this);

    // Start AJAX request to initiate the generation process
    fetch("{% url 'generate_presentation' %}", {
        method: 'POST',
        headers: {
            'X-Requested-With': 'XMLHttpRequest', // Important for Django to recognize the AJAX request
            'X-CSRFToken': formData.get('csrfmiddlewaretoken') // Include CSRF token
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Redirect to the loading page only after the server indicates success
            window.location.href = "{% url 'loading_page' %}";
        } else {
            // Handle error without redirecting
            alert("Error generating presentation");
        }
    })
    .catch(error => {
        // Handle network errors or other issues with the fetch call
        console.error('Error:', error);
        alert("An error occurred while generating the presentation.");
    });
};

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const uploadFileRadio = document.getElementById('uploadFileRadio');
        const writeTextRadio = document.getElementById('writeTextRadio');
        const uploadFileField = document.getElementById('uploadFileField');
        const writeTextField = document.getElementById('writeTextField');
        const generatedSummary = document.getElementById('generated_summary');
        const generatedSummaryLabel = document.querySelector('label[for="generated_summary"]');
        const textInstructions = document.getElementById('textInstructions');
        const questionMark = document.querySelector('.question-mark');

        function showInstructions() {
            textInstructions.style.display = 'block';
        }

        questionMark.addEventListener('mouseenter', showInstructions);
        questionMark.addEventListener('mouseleave', function () {
            textInstructions.style.display = 'none';
        });

        const textInstructionsUploadFile = document.getElementById('textInstructionsUploadFile');


        function showInstructionsUploadFile() {
            textInstructionsUploadFile.style.display = 'block';
        }

        const questionMarkUpload = document.querySelector('.question-mark-upload');
        questionMarkUpload.addEventListener('mouseenter', showInstructionsUploadFile);
        questionMarkUpload.addEventListener('mouseleave', function () {
            textInstructionsUploadFile.style.display = 'none';
        });


        uploadFileRadio.addEventListener('change', function () {
            if (uploadFileRadio.checked) {
                uploadFileField.style.display = 'block';
                writeTextField.style.display = 'none';
                generatedSummary.style.display = 'none';
                generatedSummaryLabel.style.display = 'none';  // Hide the label
            }
        });

        writeTextRadio.addEventListener('change', function () {
            if (writeTextRadio.checked) {

                uploadFileField.style.display = 'none';
                writeTextField.style.display = 'block';
                generatedSummary.style.display = 'none';
                generatedSummaryLabel.style.display = 'none';  // Hide the label
            }
        });
    });
</script>
{% endblock %}
