{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div id="presentation" class="col-md-6 offset-md-3">
    
  <div class="d-flex prof-card p-4 bg-dark mb-5">
    <div class="d-flex flex-column pr-3">
      <img class="rounded-circle profile-image" src="{{ user.profile.profile_pic.url }}">
        <a class="btn custom-button d-grid gap-2 col-10 text-white shadow-none border border-2 border-primary border-opacity-50 rounded-0"  href="{% url 'edit_profile' %}" role="button">Edit profile</a>
    </div>  
    <div class="flex-fill pr-4">
      <h2 class="profile-heading text-white">{{ user.username }}</h2>
      {% if user.profile.bio|length == 0 %}
      <p class="profile-bio text-white">{{ user.first_name }}'s bio</p>
      {% else %}
      <p class="profile-bio text-white">{{ user.profile.bio }}</p>
      {% endif %}
    </div> 
  </div>
</div>
<div class="col-md-6 offset-md-3">
      {% for value in page_results_obj.object_list.values %}
      {% include 'partials/presentations.html' %}
      {% endfor %}
</div>  
      {% if page_results_obj.has_next %}
<div hx-get="{% url 'profile' user.username %}?page_results={{ page_results_obj.next_page_number }}&page_date={{ page_date_obj.next_page_number }}"
    hx-trigger="revealed"
    hx-target="this"
    hx-swap="outerHTML settle:0.5s" class="col-md-6 offset-md-3 lazy-loaded">
    <div class="d-flex justify-content-center" style="display:none;">
      <div class="spinner-border text-light" id="spinner-display" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
</div>
      
      {% endif %}
<style>
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1e1e2f;
    }

.container {
    margin-top: 4em;
    }
    
  .prof-card {
    border: 1.25px solid hsl(216, 63%, 23%);
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(155, 153, 153, 0.3);
  }

.custom-button {
  background: linear-gradient(to right, #1901a0 0%, #2600fb 100%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
  padding: 4px 4px;
}

.custom-button:hover,
.custom-button:focus {
   background-position: -100% 0;
  }

.dropdown-menu  {
  --bs-dropdown-bg: var(--bs-dark);
  --bs-dropdown-link-color: var(--bs-white);
  --bs-dropdown-border-color: var(--bs-white);
  --bs-dropdown-border-radius: 0.5em;
  border: 1px solid;
}


.profile-heading {
  font-size: 2.5em;
  margin-top: 0.5em;
}

.profile-bio {
  font-size: 0.9em;
  margin-top: 1em;
}

.profile-image {
  height: 125px;
  width: 125px;
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
}


.lazy-loaded.htmx-added {
  opacity: 0;
}

.lazy-loaded {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

</style>
{% endblock content %}
