{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<div class="col-md-6 offset-md-3">

<h1>Register</h1>
</br>
<form method="POST" action="" id="register-form">
    {% csrf_token %}

    {% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
	
	</br>
    {{ form.as_p }}
    </br>
    <button type="submit" class="btn btn-outline-primary">Register</button>
	</br></br></br>
</form>

</div>

<style>
	body {
	font-family: 'Montserrat', sans-serif;
	background-color: #1e1e2f;
	color: white;
  }
  .container {
	margin-top: 50px;
  }
  h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
  }
  form {
	background: rgba(255, 255, 255, 0.05);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .form-check-label {
	color: #fff;
  }
  .btn {
	transition: all 0.4s;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
  }
  .btn:hover {
	transform: translateY(-3px);
  }
  
  .btn:active {
	transform: translateY(2px);
  }
	  
  
</style>


{% endblock %}