{% extends "base.html" %}
{% block content %}
<div class="col-md-6 offset-md-2">
    <h1>Summary Generation</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-check">
             {% if input_option == 'upload' %}
    <input type="radio" class="form-check-input" id="uploadFileRadio" name="input_option" value="upload" checked>
{% else %}
    <input type="radio" class="form-check-input" id="uploadFileRadio" name="input_option" value="upload">
{% endif %}
            <label class="form-check-label" for="uploadFileRadio">Upload File</label>
        </div>
        <div class="form-check">
            {% if input_option == 'write' %}
    <input type="radio" class="form-check-input" id="writeTextRadio" name="input_option" value="write" checked>
{% else %}
    <input type="radio" class="form-check-input" id="writeTextRadio" name="input_option" value="write">
{% endif %}
            <label class="form-check-label" for="writeTextRadio">Write Text</label>
        </div>
        <div id="uploadFileField" style="{% if input_option == 'upload' %}display: block;{% else %}display: none;{% endif %}">
            <br>
            <label for="file">Upload File:<span class="question-mark-upload" onclick="showInstructionsUploadFile()">?</span></label>
            <div class="cloud-tooltip-2" id="textInstructionsUploadFile">
                <p>Please upload a file below. Summary will be generated based on the contents of that file. The allowable file formats are .docx, .txt, .pptx and .pdf.</p>
            </div>
            <br>
            <input type="file" id="file" name="file">
        </div>
        <br>
        <div id="writeTextField" style= "{% if input_option == 'write' %}display: block;{% else %}display: none;{% endif %}">
            <label for="input_text">Enter Text:<span class="question-mark" onclick="showInstructions()">?</span></label>
            <div class="cloud-tooltip" id="textInstructions">
                <p>Please write below the text that you would like us to summarize.</p>
            </div>
            <textarea id="input_text" name="input_text" rows="20" cols="100" style="border-radius: 6px; padding: 10px;"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary" name="generate_summary">Generate Summary</button>
    </form>

    {% if summary %}
    <div>
        <br/>
        <label for="generated_summary">Generated Summary:</label>
        <textarea id="generated_summary" readonly rows="20" cols="100">{{ summary }}</textarea>
    </div>
s
    {% endif %}
</div>

<style>
    .question-mark {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #3498db; /* You can change the color as needed */
        color: #fff; /* Text color inside the circle */
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px; /* Adjust as needed for spacing */
    }

    .question-mark-upload {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #3498db; /* You can change the color as needed */
        color: #fff; /* Text color inside the circle */
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px; /* Adjust as needed for spacing */
    }


.cloud-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    transform: translate(36%, -100%);

    max-width: 300px;
}

.cloud-tooltip-2 {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    transform: translate(40%, -100%);

    max-width: 300px;
}

   .question-mark:hover {
        background-color: #800080; /* Change the color on hover to desired color */
    }

   .question-mark-upload:hover {
        background-color: #800080; /* Change the color on hover to desired color */
    }

   .question-mark:hover + .cloud-tooltip {
        display: block;
    }

   .label-with-tooltip {
        position: relative;
        display: inline-block;
    }

   .btn-outline-primary {
        background: linear-gradient(to right, #3498db 0%, #800080 100%);
        background-size: 200% 100%;
        transition: background-position 0.4s ease;
    }

   .btn-outline-primary:hover,
   .btn-outline-primary:focus {
        background-position: -100% 0;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const uploadFileRadio = document.getElementById('uploadFileRadio');
        const writeTextRadio = document.getElementById('writeTextRadio');
        const uploadFileField = document.getElementById('uploadFileField');
        const writeTextField = document.getElementById('writeTextField');
        const generatedSummary = document.getElementById('generated_summary');
        const generatedSummaryLabel = document.querySelector('label[for="generated_summary"]');

        const textInstructions = document.getElementById('textInstructions');
        const questionMark = document.querySelector('.question-mark');

        function showInstructions() {
            textInstructions.style.display = 'block';
        }

        questionMark.addEventListener('mouseenter', showInstructions);
        questionMark.addEventListener('mouseleave', function () {
            textInstructions.style.display = 'none';
        });

        const textInstructionsUploadFile = document.getElementById('textInstructionsUploadFile');


        function showInstructionsUploadFile() {
            textInstructionsUploadFile.style.display = 'block';
        }

        const questionMarkUpload = document.querySelector('.question-mark-upload');
        questionMarkUpload.addEventListener('mouseenter', showInstructionsUploadFile);
        questionMarkUpload.addEventListener('mouseleave', function () {
            textInstructionsUploadFile.style.display = 'none';
        });


        uploadFileRadio.addEventListener('change', function () {
            if (uploadFileRadio.checked) {
                uploadFileField.style.display = 'block';
                writeTextField.style.display = 'none';
                generatedSummary.style.display = 'none';
                generatedSummaryLabel.style.display = 'none';  // Hide the label
            }
        });

        writeTextRadio.addEventListener('change', function () {
            if (writeTextRadio.checked) {

                uploadFileField.style.display = 'none';
                writeTextField.style.display = 'block';
                generatedSummary.style.display = 'none';
                generatedSummaryLabel.style.display = 'none';  // Hide the label
            }
        });
    });
</script>
{% endblock %}
